.swiper-pagination{
    position: relative;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    top: 0;
}
.swiper-pagination-bullet-active{
    background: var(--Secondary-2);
}