:root {
    --primary-color: #21616A;
    --secondary-color: #EFA00F;
    --error-color: #e74c3c;
  }

span {
    font-size: small;
    /* color: var(--primary-color); */
}
.forgot-password {
    color: var(--secondary-color);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

