* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --primary-color: #21616A;
    --secondary-color: #EFA00F;
    --error-color: #e74c3c;
  }


h1 {
    color: var(--primary-color);
}
span {
    font-size: small;
    color: var(--primary-color);
}
.forgot-password {
    color: var(--secondary-color);
}
label {
    color: var(--primary-color);
}
button {
    color: #fff;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

