/* Main Container */
.add-property-container {
  padding: 40px;
  border-radius: 25px;
  border: 2px solid var(--Secondary-2);

}

/* Upload Card Styles */
.upload-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}

.add-property-container .upload-btn {
  background-color: var(--Secondary-2);
  color: var(--White);
  border-radius: 30px;
}

.upload-info {
  color: var(--Secondary-2)
}

.add-property-container .add-property-card {
  border: 1px solid var(--Secondary-2);
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(86, 174, 177, 0.5);
  margin-bottom: 30px;
}

/* Image Preview */
.image-preview {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

/* Information Card Styles */

.addProperty-title {
  margin-bottom: 30px !important;
  font-weight: var(--fw-700);

}

/* Style for the TextField input */
.custom-text-field .MuiInputBase-input {
  color: var(--Primary);
  /* Change text color */
}

/* Style for the TextField label */
.custom-text-field .MuiInputLabel-root {
  color: var(--Secondary-2);
  /* Change label color */
}

/* Style for the label when the TextField is focused */
.custom-text-field .MuiInputLabel-root.Mui-focused {
  color: var(--Primary);
  /* Change focused label color */
}

/* Style for the border of the TextField */
.custom-text-field .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: var(--Secondary-2);
  /* Change border color */
}

/* Style for the border on hover */
.custom-text-field .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--Secondary-2);
  /* Change border color on hover */
}

/* Style for the border when focused */
.custom-text-field .Mui-focused .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: var(--Primary);
  /* Change border color when focused */
}


/* Map Section */
.map-section {
  margin-top: 30px;
}

.add-property-card .category-title {
  font-size: 20px;
  color: var(--Primary);
  font-weight: var(--fw-700);
}

.add-property-card .categories-card {
  border: 1px solid var(--Secondary-2);
  border-radius: 20px;
  width: 100%;
  height: 300px;
  box-sizing: border-box;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}